html{
  scroll-snap-type: y mandatory;
}

.app{
  color: white;
  display: grid;
  place-items: center;
}
.app__videos{
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app{
  background-color: black;
}